@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-btn {
    background-color: $blue;
    color: $white;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
    border: none;
}

.secondary-btn {
    background-color: white;
    color: #005b96;
    border: none;
    padding: 0.4rem 1.2rem;
}