@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-btn {
    background-color: $blue;
    color: $white;
    font-weight: 600;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
    border: none;
}

.secondary-btn {
    background-color: white;
    color: #005b96;
    border: none;
    padding: 0.4rem 1.2rem;
}